body {
  padding: 140px 80px;
}

header {
  text-align: center;
  margin: 80px auto;
}

.container {
  background-color: white;
  width: calc(100% - 160px);
  padding: auto 80px;
  padding-bottom: 60px;
}

.main {
  display: flex;
  padding: 0 60px;
}

.thumbnailWrapper {
  position: relative;
  display: inline-block;
  margin-right: 12px;
}

.thumbnail {
  height: 56px;
  position: relative;
  display: block;
}

.playing .thumbnailWrapper::after  {
  background-color: rgba(0,0,0,0.2);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  letter-spacing: .1em;
  font-weight: bold;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  content: 'Playing';
}

.wistia_embed {
  margin-right: 48px;
}

.media {
  margin-bottom: 12px;
  padding: 5px;
  display: flex;
  align-items: center;
}

.media-content {
  display: flex;
  align-items: center;
}

.description .title {
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-width: 100%;
}

.autoplay-delay {
  display: flex;
  justify-content: right;
  margin-bottom: 30px;
}

.autoplay-delay .text {
  display: inline-block;
  padding: 10px;
  background-color: #999;
  border-radius: 3px 0 0 3px;
}

.autoplay-delay .timeLeft {
  display: inline-block;
  font-weight: 700;
}
